/* Стили для главного окна и диалогового окна */
QMainWindow, QDialog {
    background-color: #f0f0f0;
    color: #333333;
    font-family: Arial, sans-serif;
}

/* Стили для меток */
QLabel {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
    background-color: #ddd;
}

/* Стили для кнопок */
QPushButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #45a049;
}

QPushButton:disabled {
    background-color: #bfbfbf;
    color: #e0e0e0;
}

/* Стили для ползунка */
QSlider::groove:horizontal {
    height: 8px;
    background: #ddd;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: #4CAF50;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: -4px 0;
}

QSlider::handle:horizontal:hover {
    background: #45a049;
}

/* Стили для индикатора прогресса */
QProgressBar {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    height: 26px;
}

QProgressBar::chunk {
    background-color: #4CAF50;
    width: 20px;
    border-radius: 2px;
}
